.portfolio.projet{
	position:relative;
	margin-top:7rem;
	margin-bottom:3rem;
	margin-left:auto;
	margin-right:auto;
}
.slider.projet{
	position:relative;
	height:95vh;
	margin-left:10%;
	margin-right:10%;
}
.slide{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	opacity:0;
}
.slide.current{
	opacity:1;
}
#prev-projet{
	position:absolute;
	top:47%;
	left:6%;
	cursor:pointer;
}
#next-projet{
	position:absolute;
	top:47%;
	right:6%;
	cursor:pointer;
}
.no-arrow{
	opacity:0;
	pointer-events:none;
}
/* SLIDES PROJET */
.slide.projet:first-child{
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0001.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(2){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0002.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(3){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0003.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(4){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0004.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(5){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0005.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(6){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0006.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(7){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0007.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(8){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0008.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(9){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0009.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(10){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0010.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(11){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0011.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(12){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0012.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(13){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0013.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(14){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0014.jpeg') no-repeat center;
	background-size:contain;
}
.slide.projet:nth-child(15){
	background: url('../images/paysages-orientes/Mfarcy-paysages-orientes_0015.jpeg') no-repeat center;
	background-size:contain;
}
@media screen and (max-width: 1120px){
	#prev-projet{
		left:4%;
	}
	#next-projet{
		right:4%;
	}
}
@media screen and (max-width: 1060px){
	#prev-projet{
		left:1%;
	}
	#next-projet{
		right:1%;
	}
}
@media screen and (max-width: 960px){
	#prev-projet{
		left:-4%;
	}
	#next-projet{
		right:-4%;
	}
}
@media screen and (max-width: 860px){
	.portfolio.projet{
		margin-top:4rem;
	}
	.slider.projet{
		height:90vh;
	}
	#prev-projet{
		left:-8%;
	}
	#next-projet{
		right:-8%;
	}
}
@media screen and (max-width: 760px){
	.slider.projet{
		height:85vh;
	}
}
@media screen and (max-width: 660px){
	.slider.projet{
		height:80vh;
	}
}
@media screen and (max-width: 560px){
	.slider.projet{
		height:70vh;
	}
}
@media screen and (max-width: 460px){
	.slider.projet{
		height:60vh;
	}
}
@media screen and (max-width: 360px){
	.portfolio.projet{
		margin-top:4rem;
		margin-bottom:3rem;
	}
	.slider.projet{
		height:50vh;
	}
	#prev-projet{
		left:-12%;
	}
	#next-projet{
		right:-12%;
	}
}